.TokenView-layout {
  height: fit-content;
}

.TokenView-content_wrapper {
  background-color: #e7dcd6;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 40px;


  display: flex;
  
}

.TokenView-label {
  text-align: left;
  margin-bottom: 20px;
}

.TokenView-details_wrapper {
  margin-left: 50px;
  width: 100%;
}

.TokenView-actions {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

/* .TokenView-actions > * {
  display: flex;
  flex-direction: column;
} */

.TokenView-actions > :last-child {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  right: 50%;
  top: 0;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@keyframes growFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.stat-bar {
  height: 20px;
  /* width: 100%; */
  border-radius: 20px;
  background: linear-gradient(to right, pink, white);

}
.stat-bar_filler {
  background: linear-gradient(to right, rgb(214, 72, 72), rgb(238, 153, 181));
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.stat-layout {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 35px;
}

.stat-key {
  position: absolute;
  left: 0;

}

.stat-value {
font-size: 28px;
font-weight: 300;

position: absolute;
right:25px;
bottom: -10px;
}