.TokenView-layout {
  height: fit-content;
  /* --circle-trans-Y: -70%; */
}

.TokenView-content_wrapper {
  position:relative;
  top: 0;
  border-radius: 10px;

  margin-bottom: 20px;
  padding: 40px;


  display: flex;
  
}

.TokenView-above-circle {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
}

.TokenView-label {
  text-align: left;
  margin-bottom: 20px;
}

.TokenView-details_wrapper {
  margin-left: 50px;
  width: 100%;
}

.TokenView-actions {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

/* .TokenView-actions > * {
  display: flex;
  flex-direction: column;
} */

.TokenView-actions > :last-child {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 4;
}

.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  right: 50%;
  top: 0;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@keyframes growFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.stat-bar {
  height: 20px;
  /* width: 100%; */
  border-radius: 20px;

}
.stat-bar_filler {
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

/* colors */
 .stat-bar.fire {
  background: linear-gradient(to right, pink, white);

 }
 .fire .stat-bar_filler {
  background: linear-gradient(to right, rgb(214, 72, 72), rgb(238, 153, 181));
 }

 .stat-bar.air {
  background: linear-gradient(to right, rgb(215, 206, 255), white);

 }
 .air .stat-bar_filler {
  background: linear-gradient(to right, rgb(119, 30, 235), rgb(192, 162, 248));
 }

 .stat-bar.water {
  background: linear-gradient(to right, rgb(197, 221, 252), white);

 }
 .water .stat-bar_filler {
  background: linear-gradient(to right, rgb(30, 153, 235), rgb(162, 199, 248));
 }

 .stat-bar.electricity {
  background: linear-gradient(to right, rgb(255, 250, 206), white);

 }
 .electricity .stat-bar_filler {
  background: linear-gradient(to right, rgb(252, 186, 4), rgb(255, 223, 119));
 }

 .stat-bar.earth {
  background: linear-gradient(to right, rgb(202, 252, 189), white);

 }
 .earth .stat-bar_filler {
  background: linear-gradient(to right, rgb(43, 180, 9), rgb(155, 221, 101));
 }

.stat-layout {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 35px;
}

.stat-key {
  position: absolute;
  left: 0;
  bottom: 5px;
}

.stat-value {
  font-size: 28px;
  font-weight: 300;

  position: absolute;
  right:25px;
  bottom: -10px;
}